<script>
    let name = 'Player 1';
    let points = 0;
    const addPoint = () => points += 1;
    const removePoint = () => points -= 1;
</script>

<svelte:head>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"/>

    <title>Progressive webapps with Svelte & Materialize </title>
    <meta name="robots" content="noindex nofollow"/>
    <html lang="en"/>
</svelte:head>

<main>

	<div class="container">
			<div class = "col s12 m12">
				<div class = "card blue-grey lighten-4">
			    	<span class = "card-title"><p>Progressive webapps with</p></span>	
					<img src="images/logo-svelte.png" alt="Svelte" style="height: 100px; width: auto;"/>		
					<img src="images/logo-materialize.jpg" alt="Materialize" style="height: 100px; width: auto;"/>	
					<span class = "card-title"><p> Svelte & Materialize </p></span>
				</div>
			</div>

         <div class = "col s12 m12">
            <div class = "card blue-grey lighten-4">
			   <div class = "card-content">	
			   <table>
					<tr><td>
					<p>	<i class="material-icons orange600">face</i>{name}: {points} points</p>
					</td>
					<td>
						<button class="btn-floating waves-effect waves-light green" on:click={addPoint}>+1</button>
						<button class="btn-floating waves-effect waves-light red"	on:click={removePoint}>-1</button>
						<button on:click={addPoint}>Clicked {points} {points === 1 ? 'time' : 'times'}</button>
					</td>
				</tr>
			   </table>					
			  </div>
               
               <div class = "card-action">
                  	<button class = "btn waves-effect waves-light blue-grey">
					 <i class = "material-icons">share</i>
					</button>
                  	<a class = "right blue-grey-text" href = "https://www.concepts-system.de" target="_blank">
					 www.concepts-system.de
					 </a>
               </div>
            </div>
		 </div>

		<div class = "col s12 m12">
			<div class = "card blue-grey lighten-4">
			<h3>Stripped Table with borders</h3>
			<table class = "striped bordered">
				<thead>
					<tr><th>ID</th>	<th>Name</th><th>Address</th>	</tr>
				</thead>
				<tbody>
					<tr>	<td>1</td>	<td>Birgit</td>	<td>Witten</td>	</tr>
					<tr>	<td>2</td>	<td>Marc</td>	<td>Witten</td>	</tr>
					<tr><td>3</td><td>Wieland</td><td>Rostock</td></tr>
				</tbody>
			</table>
			</div>
		</div>

        <div class="card-panel blue-grey lighten-4">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Event title" id="title" type="text" class="validate">
                            <label for="title">Title</label>
                    </div>
                </div>

				<div class="row">
					<div class="input-field col s6">
						<input
							placeholder="http://www.concepts-system.de"
							id="website"
							type="text"
							class="validate">
							<label for="website">Website</label>
					</div>
					<div class="input-field col s6">
							<input placeholder="mmu@concepts-system.de" id="email" type="text" class="validate">
								<label for="email">Contact email</label>
					</div>

					<div class="row">
						<div class="input-field col s12">
							<textarea id="description" class="materialize-textarea" length="140"></textarea>
							<label for="description">Describe the event in a tweet!</label>
						</div>
					</div>
			</form>
		</div>
                  
</main>	

	<style>
		main {
			text-align: center;
			padding: 1em;
			max-width: 240px;
			margin: 0 auto;
		}

		h1 {
			color: #ff3e00;
			text-transform: uppercase;
			font-size: 4em;
			font-weight: 100;
		}

		@media (min-width: 640px) {
			main {
				max-width: none;
			}
		}
	</style>